package ${packageName}.domain.bo;

import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;
import javax.validation.constraints.*;

import java.io.Serializable;
import java.util.Date;

#foreach ($import in $importList)
import ${import};
#end

/**
 * ${functionName}业务新增对象 ${tableName}
 *
 * @author ${author}
 * @date ${datetime}
 */

@Data
@Schema(description = "${functionName}业务新增对象")
public class ${ClassName}AddBo implements Serializable {

    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
## 只包含新增标记字段和保留主键字段
#if((!$table.isSuperColumn($column.javaField) && $column.isInsert))
    /**
     * $column.columnComment
     */
## 字段必须&&字段不是主键
#if($column.isRequired == 1)
    @Schema(description = "$column.columnComment", required = true)
    #if($column.javaType == 'String')
    @NotBlank(message = "$column.columnComment不能为空")
    #else
    @NotNull(message = "$column.columnComment不能为空")
    #end
#else
    @Schema(description = "$column.columnComment")
#end
    private $column.javaType $column.javaField;

#end
#end

}
