package ${packageName}.domain.bo;

import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;
import javax.validation.constraints.*;

import java.io.Serializable;
import java.util.Date;

#foreach ($import in $importList)
import ${import};
#end

/**
 * ${functionName}业务编辑对象 ${tableName}
 *
 * @author ${author}
 * @date ${datetime}
 */

@Data
@Schema(description = "${functionName}业务编辑对象")
public class ${ClassName}EditBo implements Serializable {

    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if(!$table.isSuperColumn($column.javaField) && $column.isEdit())
    /**
     * $column.columnComment
     */
#if($column.isPk())
    @Schema(description = "$column.columnComment", required = true)
#if($column.javaType == 'String')
    @NotBlank(message = "$column.columnComment不能为空")
    @Size(min = 0, max = $column.columnMaxLength, message = "$column.columnComment不能超过{max}个字符")
#else
    @NotNull(message = "$column.columnComment不能为空")
#end
#else
    @Schema(description = "$column.columnComment")
#end
    private $column.javaType $column.javaField;

#end
#end

}
