package ${packageName}.domain.vo;

#foreach ($import in $importList)
import ${import};
#end
import com.alibaba.excel.annotation.ExcelIgnoreUnannotated;
import com.alibaba.excel.annotation.ExcelProperty;
import com.ruoyi.common.annotation.ExcelDictFormat;
import com.ruoyi.common.convert.ExcelDictConvert;
import com.ruoyi.common.core.domain.BaseVo;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import java.util.Date;



/**
 * ${functionName}视图对象 ${tableName}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@ApiModel(value = "${ClassName}Vo", description = "${functionName}视图对象", parent = BaseVo.class)
@ExcelIgnoreUnannotated
public class ${ClassName}Vo extends BaseVo {

    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if($column.isList)
    /**
     * $column.columnComment
     */
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#if(${column.dictType} && ${column.dictType} != '')
    @ExcelProperty(value = "${comment}", converter = ExcelDictConvert.class)
    @ExcelDictFormat(dictType = "${column.dictType}")
#elseif($parentheseIndex != -1)
    @ExcelProperty(value = "${comment}", converter = ExcelDictConvert.class)
    @ExcelDictFormat(readConverterExp = "$column.readConverterExp()")
#else
    @ExcelProperty(value = "${comment}")
#end
## 视图对象，如果是主键、必填、有默认值 则标记必须 让前端知道这个字段必须有值返回
#if($column.isPk==1 || $column.isRequired==1 || ($column.columnDefault && $column.columnDefault != '' && $column.columnDefault != 'null' && $column.columnDefault != 'NULL'))
    @ApiModelProperty(value = "$column.columnComment", required = true)
#else
    @ApiModelProperty(value = "$column.columnComment")
#end
    private $column.javaType $column.javaField;

#end
#end

}
